<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello started: Serving Web Content</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post" th:action="@{/hello}">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="Тэг" />
        <button type="submit">Добавить</button>
    </form>
</div>
<br>
<div>
    <form method="post" th:action="@{/filter}">
        <input type="text" name="filter"/>
        <button type="submit">Найти</button>
    </form>
</div>

<p>Список сообщений</p>
<th:block th:each="mes : ${message}">
    <div>
        <b th:utext="${mes.id}"></b>
        <span th:utext="${mes.text}"></span>
        <i th:utext="${mes.tag}"></i>
        <strong th:utext="${mes.authorName}"></strong>
    </div>
</th:block>
</body>
</html>
